
host github.com
        HostName github.com
        IdentityFile ~/.ssh/luche.pem
        User git
host gce3
        HostName 35.194.105.71
        IdentityFile ~/.ssh/luche.pem
        User ly0107
host google 
        HostName 35.194.112.109
        IdentityFile ~/.ssh/luche.pem
        User ly0107
host alusftp
        HostName sftp.alcatel-lucent.com
        IdentityFile ~/.ssh/luche.pem
        User fanghe
host calzone
        HostName 135.251.84.71
        IdentityFile ~/.ssh/luche.pem
        User admin
host qdbuild2
        HostName 135.252.41.248
        IdentityFile ~/.ssh/luche.pem
        User fanghe
host qdlcs
        HostName 135.252.142.134
        IdentityFile ~/.ssh/luche.pem
        User fanghe
host batman
        HostName batman.inse.lucent.com
        IdentityFile ~/.ssh/luche.pem
        User root
host stein
        HostName stein.inse.lucent.com
        IdentityFile ~/.ssh/luche.pem
        User fanghe
host build4
        HostName build4.inse.lucent.com
        IdentityFile ~/.ssh/luche.pem
        User fanghe
host chibuild
        HostName chibuild.inse.lucent.com
        IdentityFile ~/.ssh/luche.pem
        User fanghe
host lsp1
        HostName 135.2.51.5
        IdentityFile ~/.ssh/luche.pem
    	LogLevel        VERBOSE
        User plexus
host amazon
        HostName ec2-54-68-2-180.us-west-2.compute.amazonaws.com
        IdentityFile ~/.ssh/luche.pem
        User  ec2-user
host ihgpweb
        HostName ihgpweb.ih.lucent.com
        IdentityFile ~/.ssh/luche.pem
        User  fanghe
host pa0021913
        HostName pa0021913n9.ad4.ad.alcatel.com
        IdentityFile ~/.ssh/luche.pem
        User fanghe
host amazon.cn
        HostName 54.223.178.129
        IdentityFile ~/.ssh/luche.pem
        User ec2-user
host aliyun
        HostName 121.42.165.241
        IdentityFile ~/.ssh/luche.pem
        User root
host mcgzg
        HostName 121.42.165.241
        IdentityFile ~/.ssh/luche.pem
        User root
host hp
        HostName  192.168.0.123
        IdentityFile ~/.ssh/luche.pem
        User fanghe
host imac
        HostName  192.168.0.127
        IdentityFile ~/.ssh/luche.pem
        User hetianle
host dell
        HostName  192.168.0.113
        IdentityFile ~/.ssh/luche.pem
        User lingyi
host hppro
        HostName  192.168.0.112
        IdentityFile ~/.ssh/luche.pem
        User fanghe

